<%@list.each do |item|
  if item.rank == 1%>
  <h1><%= item.name %></h1>
  <%elsif item.rank == 2%>
  <h1><%= item.name %></h1>
  <%elsif item.rank == 3%>
  <h1><%= item.name %></h1>
  <%elsif item.rank == 4%>
  <h1><%= item.name %></h1>
  <% end %>
<% end %>
